body {
  margin: 0;
  background: #f1f1f1;
}

.container {
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: 0px auto;
  padding: 15px;
}
.container > * {
  margin: 10px 0;
}

label {
  padding-left: 10px;
}
